NODE_ENV=development
DATABASE_URL=

ACCESS_SECRET=
REFRESH_SECRET=
ACCESS_SECRET_EXPIRES_IN=
REFRESH_SECRET_EXPIRES_IN=

FRONTEND_URL=
BCRYPT_SALT_ROUNDS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SMTP_AUTH_USER=
SMTP_AUTH_PASS=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET= 

ADMIN_EMAIL=
ADMIN_PASS=